<nav class="toolbar">
<h1>சத்தியமங்கலம்
  மலர் விலை பட்டியல்</h1>
</nav>
<table class="tab">
  <thead >
    <tr >
      <th >
        பூக்களின் பெயர்கள்</th><th >விலைப்பட்டியல்</th>
    </tr>
  </thead><br>
  <tbody>
    <tr >
      <td  >சம்பங்கி</td>
      <td >100</td>
     
    </tr><br>
    <tr >
      <td  >அந்தூரியம்</td>
      <td >100</td>
     
    </tr><br>
    <tr >
      <td  >மல்லி பூ</td>
      <td >100</td>
     
    </tr><br>
    <tr >
      <td  >
        சமந்தி பூ</td>
      <td >100</td>
     
    </tr><br>
    <tr >
      <td  >ரோஜா</td>
      <td >100</td>
     
    </tr><br>
    <tr >
      <td  >செண்டு பூ</td>
      <td >100</td>
     
    </tr>
  </tbody>
</table>

<nav class="taskbar">
  <div fxFlex="55" class="lef">
    <h4>Our Address</h4>
    <address style="font-size: 80%">
      121, Clear Water Bay Road<br> Clear Water Bay, Kowloon<br> SATHYAMANAGALAM<br>
      <i class="fa fa-phone"></i>: 8489915880<br>
      <i class="fa fa-fax"></i>: +852 8765 4321<br>
      <i class="fa fa-envelope"></i>:
      <a href="mailto:dinisellappan@gmail.com">dinisellappan@gmail.com</a>
    </address>
  </div>
</nav>