.toolbar{
    background-color:violet;
    height: fit-content;
    width: 100%;
    margin: 2px;
    color:black;
}
.taskbar{
    position: absolute;
    bottom: 0;
    background-color:violet;
    height: 200px;
    width: 100%;
}
.tbor{
    border: violet;
    border-radius: 2px;
}
.col{
    background-color: yellowgreen;
}
.tab{
    font-size: 25px;

    font-weight: lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}
.btn-facebook {color:#fff!important; background-color:#3b5998!important;}
.btn-google-plus{color:#fff!important;background-color:#dd4b39!important;}
.btn-youtube{color:#fff!important;background-color:#ff4b39!important;}
.btn-linkedin{color:#fff!important;background-color:#007bb6!important;}
.btn-twitter{color:#fff!important;background-color:#55acee!important;}
.btn-mail{color:#fff!important;background-color:#512DA8!important;}
.lef{
    padding-left:250px;
}
.add{
    position: absolute;
    top:60px;
    left: 600px;
    background-color: hotpink;
    height: 450px;
    width: 900px;
}